<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">
	<div class="container">

		<div class="row">

			<div class="col s8">

				<form name="myForm" ng-submit="ajouter(myForm.$valid)"  method="post" novalidate>

					<div class="input-field col s11 offset-s1">
						<input id="nom" name="nom" type="text" ng-model="Etab.nom" required>
						<label for="nom">Nom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.nom.$error"  ng-if="myForm.nom.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field col s11 offset-s1">
						<input id="email" name="email" type="email" ng-model="Etab.email" required>
						<label for="email" >Email</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.email.$error"  ng-if="myForm.email.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="site"  type="text" ng-model="Etab.site" >
						<label for="site" >Site</label>
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="telephone" name="phone"  type="text" ng-model="Etab.telephone" ng-pattern="/^[1-9]{1}[0-9]{7}$/" >
						<label for="telephone" >Téléphone</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.phone.$error"  ng-if="myForm.phone.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field col s11 offset-s1">
						<input id="adresse" name="adresse" type="text" ng-model="Etab.adresse" required>
						<label for="adresse">Adresse</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.adresse.$error"  ng-if="myForm.adresse.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>

					</div>

					<div class="input-field col s11 offset-s1">
						<input id="fax" type="text" name="fax" ng-model="Etab.fax" ng-pattern="/^[1-9]{1}[0-9]{7}$/"  >
						<label for="fax">Fax</label>
					</div>
					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.fax.$error"  ng-if="myForm.fax.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<select ng-model="Etab.idMunicipalite" material-select watch name="municipality" required>
							<option value="" disabled selected>Choisir une zone municipale </option>
							<option ng-repeat="municipalite in municipalites" value="{{municipalite.id}}">{{municipalite.nom}}</option>
						</select>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.municipality.$error"  ng-if="myForm.municipality.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>

					</div>

					<div class="input-field  col s11 offset-s1">
						<select ng-model="Etab.idCategorieEtablissement" material-select watch name="category" required>
							<option value="" disabled selected>Choisir une catégorie </option>
							<option ng-repeat="categorie in categoriesEtablissements" value="{{categorie.id}}">{{categorie.nom}}</option>
						</select>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.category.$error"  ng-if="myForm.category.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>

					</div>

					<div class="input-field col s11 offset-s1">
						<button class="waves-effect light-blue darken-3 btn" type="submit">
							Enregistrer
						</button>
					</div>

				</form>
			</div>

		</div>

	</div>
</div>

