<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="my-content">

	<div class="container">
		
		<div class="row my-row">
			<div class="col s2 offset-s10">
				
				<a class="btn-floating btn-large waves-effect waves-light light-blue darken-2" href="/etablissementsCreate">
					<i class="material-icons">add</i>
				</a>
			</div>
		</div>
		
		<div class="row center" ng-hide="emptyArray">
			<div class="col s12">
				<h3>Pas des données </h3>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<table class="highlight responsive-table">

					<thead ng-hide="!emptyArray" >
						<tr>
							<th data-field="telephone">Nom</th>
							<th data-field="adresse">Adresse</th>
							<th data-field="site">Site</th>
							<th data-field="categorie">Catégorie</th>
							<th data-field="municipalite">Zone Municipale</th>	
							<th data-field="edit"></th>
							<th data-field="delete"></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="etablissement in etablissements">
							<td>{{ etablissement.nom }}</td>
							<td>{{ etablissement.adresse}}</td>
							<td><a href="{{ etablissement.site }}" target="_blank" class="truncate" >{{ etablissement.site }}</a></td>
							<td>{{ etablissement.categorie_etablissement.nom }}</td>
							<td>{{ etablissement.delegation.nom }}</td>
							
							
							<td>
								
								
								<a href="/etablissementsEdit/{{etablissement.id}}" class="btn  btn-icon waves-effect white">
									<i class="material-icons black-text">mode_edit</i>
									
								</a>
							</td>



							<td>
								
								<a ng-click="setIdEtablissement(etablissement.id)" href='#demoModal' modal dismissible="false"   class="btn btn-icon waves-effect white ">
									<i class="material-icons black-text">delete</i>
								</a>
							</td>

						</tr>

					</tbody>

				</table>
			</div>
		</div>
         
         <!-- start pagination -->

	         <div class="center my-pagination">
                <pagination
				    page="1"
				    page-size="12"
				    total="nbre"
				    show-prev-next="true"
				    dots="...."
				    hide-if-empty="true"
				    adjacent="5"
				    scroll-top="true"
				    pagination-action="changePage(page)" />

	         </div>

        <!-- end pagination -->
        
	</div>

	<!-- start Modal  -->
	
	<div id="demoModal" class="modal">
		<div class="modal-content">
			<h5>Confirmation</h5>
			<p>
				Vous voulez supprimer cette établissement ?
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="remove(IdEtablissement)" href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>
	
	<!-- end Modal -->
	

</div>
<!-- end content -->

