<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">
	<div class="container">

		<div class="row">

			<div class="col s10">

				<form name="myForm" ng-submit="ajout(myForm.$valid)" method="post" novalidate>

					<div class="input-field  col s11 offset-s1">
						<input id="nom" name="nom" type="text" ng-model="nom" required>
						<label for="nom" >Nom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.nom.$error"
					ng-if="myForm.nom.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field col s11 offset-s1">
						<input id="prenom" name="prenom" type="text" ng-model="prenom" required>
						<label for="prenom">Prénom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.prenom.$error"
					ng-if="myForm.prenom.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="nomUser" name="username" type="text" ng-model="username" required>
						<label for="nomUser" >Nom utilisateur </label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.username.$error"
					ng-if="myForm.username.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="email" name="email" type="email" ng-model="email" required>
						<label for="email" >Email </label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.email.$error"
					ng-if="myForm.email.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

				

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.password.$error"
					ng-if="myForm.password.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="file-field input-field col s11 offset-s1">
						<div class="btn">
							<span>Photo </span>
							<input type="file" onchange="angular.element(this).scope().setFiles(this)" >
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<select ng-model="selectedOption" material-select watch name="gouvernorat" required>
							<option value="" disabled selected>Choisir une gouvernorat :</option>
							<option ng-repeat="gouvernorat in gouvernorats" value="{{gouvernorat.id}}">{{gouvernorat.nom}}</option>
						</select>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.gouvernorat.$error"
					ng-if="myForm.gouvernorat.$dirty || myForm.$submitted">
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field col s11 offset-s1">
						<button class="waves-effect light-blue darken-3 btn" type="submit">
							Enregistrer
						</button>
					</div>

				</form>
			</div>

		</div>

	</div>
</div>

