<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">

	<div class="container">

		<div class="row">

			<div class="col s10">


				<form name="myForm" novalidate  method="post" >

					<div class="file-field input-field  col s3 offset-s1">
						<img ng-src="{{ Admin.user.photo || 'images/default.jpg'}}" width="100" height="100" alt="Modifier l'image"/>
						<input type="file" onchange="angular.element(this).scope().updateImage(this)" >
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="nom" name="nom" type="text" ng-model="Admin.user.nom" required>
						<label for="nom" >Nom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.nom.$error" ng-if="myForm.nom.$dirty || myForm.$submitted">	
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field col s11 offset-s1">
						<input id="prenom" name="prenom" type="text" ng-model="Admin.user.prenom"  required>
						<label for="prenom">Prénom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.prenom.$error" ng-if="myForm.prenom.$dirty || myForm.$submitted">	
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="nomUser" name="username" type="text" ng-model="Admin.user.username" required>
						<label for="nomUser" >Nom utilisateur </label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.username.$error" ng-if="myForm.username.$dirty || myForm.$submitted">	
						<div ng-messages-include="error-messages"></div>
					</div>

					<div class="input-field  col s11 offset-s1">
						<input id="email" name="email" type="email" ng-model="Admin.user.email" required>
						<label for="email" >Email </label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.email.$error" ng-if="myForm.email.$dirty || myForm.$submitted">	
						<div ng-messages-include="error-messages"></div>
					</div>

				<!--	<div class="input-field  col s11 offset-s1">
						<select  ng-options="gouvernorat.id as gouvernorat.nom  for gouvernorat in Admin.gouvernorats"  ng-selected="{{ gouvernorat.id == Admin.idGouvernorat}}"  ng-model="Admin.idGouvernorat" material-select watch name="gouvernorat" required>
							<option value="" disabled selected>Choisir une gouvernorat :</option>
						</select>

					</div>
				-->

					<div class="input-field  col  s11 offset-s1">
						<select ng-model="Admin.idGouvernorat" material-select watch  name="gouvernorat" required>
							<option value="" disabled selected>Choisir une gouvernorat :</option>
							<option ng-repeat="gouvernorat in Admin.gouvernorats" value="{{gouvernorat.id}}">{{gouvernorat.nom}}</option>
						</select>
					</div>
                    
                <div class="col s11 offset-s1 my-error"  ng-messages="myForm.gouvernorat.$error" ng-if="myForm.gouvernorat.$dirty || myForm.$submitted">	
					<div ng-messages-include="error-messages"></div>
				</div>



					<div class="input-field col s11 offset-s1">
						<button class="waves-effect light-blue darken-3 btn" ng-click="update(myForm.$valid)">
							Modifier
						</button>
					</div>

				</form>
			</div>

		</div>

	</div>
</div>

