<div ng-include="global.sideNavUrl"></div>

<!-- start content -->

<div class="my-content">

	<div class="container">

		<div class="row my-row">
			<div class="col s2 offset-s10">

				<a class=" btn-floating btn-large waves-effect waves-light light-blue darken-2"
				href="/administrateursCreate"> <i class="material-icons white-text">add</i> </a>
			</div>
		</div>

		<div class="row center" ng-hide="emptyArray">
			<div class="col s12">
				<h3>Pas des données </h3>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<table class="highlight responsive-table">

					<thead ng-hide="!emptyArray" >
						<tr>
							<th data-field="nom">#</th>
							<th data-field="nom">Nom</th>
							<th data-field="prenom">Prénom</th>
							<th data-field="email">Email</th>
							<th data-field="gouvernorat">Gouvernorat</th>
							<th data-field="edit">Modifier</th>
							<th data-field="delete">Supprimer</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="admin in admins">
							<td><img ng-src="{{ admin.user.photo || 'images/default.jpg' }}" width="40" height="40" class="circle" alt="administrateur numéro {{ $index+1 }}" ></td>
							<td>{{ admin.user.nom }}</td>
							<td>{{ admin.user.prenom }}</td>
							<td>{{ admin.user.email }}</td>
							<td>{{ admin.gouvernorat.nom }}</td>
							<td><a href="/administrateursEdit/{{ admin.idUser }}" class="btn btn-icon waves-effect white"> <i class="material-icons black-text">mode_edit</i> </a></td>
							<td><a ng-click="setIdAdmin(admin.idUser)" href='#demoModal' modal dismissible="false"  class="btn btn-icon waves-effect white "> 
								  <i class="material-icons black-text">delete</i> 
								</a>
								</td>

						</tr>
					</tbody>

				</table>
			</div>
		</div>
		
		 <!-- start pagination -->

	         <div class="center my-pagination">
                <pagination
				    page="1"
				    page-size="12"
				    total="nbre"
				    show-prev-next="true"
				    dots="...."
				    hide-if-empty="true"
				    adjacent="5"
				    scroll-top="true"
				    pagination-action="changePage(page)" />
	         </div>

        <!-- end pagination -->

	</div>

	<!-- start Modal  -->

	<div id="demoModal" class="modal">
		<div class="modal-content">
			<h5>Confirmation</h5>
			<p>
				Vous voulez supprimer cet Administrateur ?
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="remove(idAdmin)" href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>

	<!-- end Modal -->

</div>
<!-- end content -->

