 body{
        background-color: #EEEEEE;
    }

    .login{
        width: 400px;
        height: 400px;
        background:#FFFFFF;
        padding: 20px;
        margin-top:100px;
    }

    
    .restPassword{
    	width: 500px;
        height: 250px;
        background:#FFFFFF;
        padding: 20px;
        margin-top:100px;
    }

    .updatePassword{
	    width: 500px;
        height: 450px;
        background:#FFFFFF;
        padding: 20px;
        margin-top:100px;
     }

    h4.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 100;
    }

	
	h4.logo span {
		color: #0288d1;
		font-weight: bold;
		font-size: 40px;
	}


    .btn-login{
        width: inherit;
        border: none;
        color: #FFFFFF;
    }
    
