/*---------------------------------- start responsive design for Tablet ----------------------------------------*/
@media only screen and (max-width: 992px) {

	header, div.content, .top-nav, footer, .my-content {
		padding-left: 0px;
	}

	.mycontainer {

		padding-left: 0;
	}
	nav .nav-wrapper{
		
		text-align : center;
	}

	nav .nav-wrapper span.page-title {
		font-size: 30px ;
		
	}
	
	.modalSemblable{
		width: 400px;
	}


}

/*--------------------------------------- start responsive design for phone----------------------------------- */
@media only screen and (max-width: 600px) {
	
	nav .nav-wrapper span.page-title {
		font-size: 20px ;
		
	}
	
}

