/*-------------------------------------template CSS-------------------------------------------------*/
body {
	background-color: #FFFFFF;
	font-size: 16px;
}
.clear {
	clear: both
}

/*--------------------------------cutomize Materialize CSS----------------------------------------*/

.container {
	width: 90%
}

button:focus {
	background-color: rgba(2,136,209,0.8);
}

.btn {
	background-color: #0277bd;
	color: #FFFFFF;
}

.btn:focus, .btn:hover {
	background-color: rgba(2,136,209,0.8);
}

.input-field input[type=url]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=text]:focus + label,
textarea.materialize-textarea:focus:not(
[readonly]) + label {
	color: #0277bd;
}

.input-field input[type=url]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=text]:focus,
textarea.materialize-textarea:focus:not(
[readonly]) {
	border-bottom: 1px solid #0277bd;
	box-shadow: 0 1px 0 0 #0277bd;
}

[type="checkbox"].filled-in:checked + label:after {
	top: 0px;
	width: 20px;
	height: 20px;
	border: 2px solid #0277bd;
	background-color: #0277bd;
	z-index: 0;
}

.slider .indicators .indicator-item.active {
	background: #0277bd;
}

.tabs .tab a {
	background-color: rgba(0, 0, 0,0.05);
	color: #444444;
}

.tabs .tab a:hover {
	color: #0277bd;
}

.tabs .tab a.active {
	color: #0277bd;
}

.tabs .indicator {
	background-color: #0277bd;
}

.card-panel {
	padding: 0px;
}

.card .card-image .card-title {
	color: #FFFFFF;
	padding: 5px 20px;
	background: #0277bd;
}

/*--------------------------------------------tabs---------------------------------------------*/

.mytabs {
	margin-bottom: 20px;
	margin-top: -10px;
}

p {
	word-wrap: break-word;
	overflow: hidden;
}

.dropdown-content li > span {
	color: #0277bd;
}

.myNavBar {
	margin-top: 22px;
	font-size: 20px;
}

a {
	color: #444;
}

.my-semblable {
	margin-left: 50px;
}

.my-semblable-text {

	margin-left: 20px
}

.img-slider {
	margin-left: 5px;
	margin-right: 5px;
}

.my-pagination {
	margin-top: 50px;
}

.pagination li.active {
	background-color: #0277bd;
}

div.rn-carousel-indicator span {
	width: 50px;
	height: 20px;
}

div.rn-carousel-indicator span.active {
	color: #0277bd;
}

.btn-icon {
	padding-left: 10px;
	padding-right: 10px;
}

.my-indicator {

	margin-top: 100px;
}

.gouAndEtab{
	
	margin-top: 20px;
	margin-bottom: 10px;
}

/*------------------------------edit Abuse -------------------*/
.map {

	height: 700px;
}
.mycontainer {
	padding-left: 40px;
	padding-right: 20px;
}

.cit-nom {
	padding-left: 10px;
	padding-right: 10px;
}

.cit {
	padding-bottom: 20px;
}

.icone-rahmi {
	width: 100%;
}



.myImg {

	margin-bottom: 10px;
	margin-right: 10px;
}

/*---------------------index réclamation ------------------------------*/

.btn-icon {
	padding-left: 10px;
	padding-right: 10px;
}

.modal {
	width: 400px;
}

.modalSemblable{
	width: 800px;
}

.card .card-action .icone {
	margin-left: 10px;
	margin-right: 10px;
}


/*---------------------------------edit demande des suppression-------------------------------------------------*/

.map {

	height: 700px;
}
.mycontainer {
	padding-left: 40px;
	padding-right: 20px;
}

.cit-nom {
	padding-left: 10px;
	padding-right: 10px;
}

.cit {
	padding-bottom: 20px;
}

.icone-rahmi {
	width: 100%;
}



.myImg {

	margin-bottom: 10px;
	margin-right: 10px;
}

/*------------------------------------------index demande de suppression----------------------------------------------*/

.btn-icon {
	padding-left: 10px;
	padding-right: 10px;
}



/*------------------------erreur 404 -----------------------------------*/
.error404 {
	color: #0288D1;
}

/*-----------------------------index etabmlissement----------------------------------------------*/
.btn-icon {
	padding-left: 10px;
	padding-right: 10px;
}



/*---------------------------index municipalite-----------------------------------*/

.btn-icon {
	padding-left: 10px;
	padding-right: 10px;
}

.my-modal {
	width: 400px;
}

/*----------------------------index réclamation-----------------------------------*/

.map {

	height: 700px;
}
.mycontainer {
	padding-left: 40px;
	padding-right: 20px;
}

.cit-nom {
	padding-left: 10px;
	padding-right: 10px;
}

.cit {
	padding-bottom: 20px;
}

.icone-rahmi {
	width: 100%;
}


.myModal {
	width: 600px;
}

.myImg {

	margin-bottom: 10px;
	margin-right: 10px;
}

.card .card-action {

	padding-bottom: 30px;
}

/*-------------------------edit semblable -------------------------------------------*/

.map {

	height: 700px;
}
.mycontainer {
	padding-left: 40px;
	padding-right: 20px;
}

.cit-nom {
	padding-left: 10px;
	padding-right: 10px;
}

.cit {
	padding-bottom: 20px;
}

.icone-rahmi {
	width: 100%;
}


.myImg {

	margin-bottom: 10px;
	margin-right: 10px;
}



/*----------------------------------validation form----------------------------------------*/
.my-error {
	color: #F44336;
	font-size: 1rem;
	cursor: text;
}

input.ng-invalid.ng-dirty, input.ng-invalid.ng-submit {
	border-bottom: 1px solid #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}

input.ng-valid.ng-dirty, input.ng-valid.ng-submit {
	border-bottom: 1px solid #4CAF50;
	box-shadow: 0 1px 0 0 #4CAF50;
}

.brand-logo {

	padding-left: 240px;
	color: #444444;
}

/*----------------------------og to Top -----------------------------------------*/

.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	display: none;
}

.back-to-top:hover {
	background: #039be5;
	cursor: pointer;
}

/*----------------------------- start profile ----------------------------------*/

.dropdown-button {
	width: 200px;
	text-align: right
}

.profile img {
	vertical-align: middle;
	margin-right: 5px;
}

.profile i {
	padding-left: 5px;
	color: #444;
}

.dropdown-content li > a {
	color: #444;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.dropdown-content li > a  i {
	float: left;
	margin-left: -10px;
	padding-right: 10px;
}

.dropdown-content li a:hover i {
	/*color: #FFFFFF;*/
}

.dropdown-content li a:hover, .dropdown-content li.active {
	/* background-color: #0288d1;
	 color: #ffffff;
	 */
	background-color: rgba(0, 0, 0,0.05)
}

.profile a:hover {

	background-color: #FFFFFF;
	/* background-color: rgba(0, 0, 0, 0.05)*/
}

/*------------------------------- parameters of header,main and footer ---------------------------------*/
header, div.content, .top-nav, footer, .my-content {
	padding-left: 240px
}

div.content {
	height: 600px;
	padding-top: 40px;
}

.my-row {
	margin-top: -28px;
}

/*--------------------------------------- start sideNav ------------------------------------------------*/

ul.side-nav.fixed li.logo .brand-logo {
	text-align: center;
	margin-top: 32px;
	margin-left: -20px;
	font-size: 40px;
	font-weight: 100;
}

ul.side-nav.fixed li.logo .brand-logo span {
	color: #0288d1;
	font-weight: bold;
	font-size: 40px;
}

ul.side-nav.fixed li.logo:hover {
	background-color: transparent
}

ul.side-nav.fixed {
	overflow: hidden
}

ul.side-nav.fixed li {
	line-height: 44px
}

ul.side-nav.fixed li:hover {
	background-color: rgba(0, 0, 0, 0.05)
}

ul.side-nav.fixed > li.bold.active {

	background-color: rgba(0, 0, 0, 0.05)
}

ul.side-nav.fixed > li.bold.active a {
	/* color: #0288d1;*/

}

.selected {
	color: #FFFFFF;
	background-color: #0185ff;
}

ul.side-nav.fixed li a {
	font-size: 14px;
	line-height: 44px;
	height: 44px
}

ul.side-nav.fixed li a i {
	font-size: 14px;
	line-height: 44px;
	height: 44px
}

ul.side-nav.fixed ul.collapsible-accordion {
	background-color: #FFF
}

.side-nav .collapsible-body ul li.active, .side-nav.fixed .collapsible-body ul li.active {
	background-color: #0288d1;
}

ul.side-nav.fixed:hover {
	overflow-y: auto
}

.bold > a {
	font-weight: bold
}

#logo-container {
	height: 57px;
	margin-bottom: 32px
}

ul.side-nav.fixed li.compte {
	margin-bottom: 30px;
	margin-top: -20px;
	margin-left: -55px;
}

ul.side-nav.fixed li.compte:hover {
	background-color: transparent;
	cursor: pointer
}

ul.side-nav.fixed li.compte a > img {

	vertical-align: middle
}

ul.side-nav.fixed li.compte a > b {
	vertical-align: middle margin-top : -10px;
	margin-left: 10px;
}

.myLogout {
	margin-top: 20px
}

/*------------------------------start navTop-------------------------------------*/
nav.top-nav {
	height: 122px;
	box-shadow: none;
	
}

nav.top-nav a i {

	line-height: 122px;
}

nav.top-nav span.page-title {
	line-height: 122px;
	font-size: 38px
}

a.button-collapse.top-nav {
	position: absolute;
	text-align: center;
	height: 48px;
	width: 48px;
	left: 7.5%;
	top: 0;
	float: none;
	margin-left: 1.5 rem;
	color: #fff;
	font-size: 32px;
	z-index: 2
}

a.button-collapse.top-nav.full {
	line-height: 122px
}

/* -------------------------------start search NavBar------------------------------------------ */
#nav-mobile li.search {
	left: 0;
	right: 0;
	top: 120px;
	margin-top: 1px;
	padding: 1px;
	margin-bottom: 30px;
}

#nav-mobile li.search:hover {
	background-color: #fff
}

#nav-mobile li.search .search-wrapper {
	margin: 0 12px;
	transition: margin .25s ease
}

#nav-mobile li.search .search-wrapper.focused {
	margin: 0
}

#nav-mobile li.search .search-wrapper input#search {
	display: block;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 45px;
	margin: 0;
	padding: 0 45px 0 15px;
	border: 0
}

#nav-mobile li.search .search-wrapper input#search:focus {
	outline: none
}

#nav-mobile li.search .search-wrapper i {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer
}

#nav-mobile li.search .search-results {
	margin: 0;
	border-top: 1px solid #e9e9e9;
	background-color: #fff
}

#nav-mobile li.search .search-results a {
	font-size: 12px;
	white-space: nowrap
}

#nav-mobile li.search .search-results a:hover, #nav-mobile li.search .search-results a.focused {
	background-color: #eee;
	outline: none
}

.bgimage {
	text-align: right;
	color: white;
	background-size: cover;
	height: 100%;
	background-position: center center;
}

ul[rn-carousel] {
	width: 400px;
	height: 200px;
	margin: 0 auto;
}

.carousel5 li {
	width: 100%;
	height: 100%;
	font-size: 30px;
	background-color: #ccc;
}

.carousel-demo {
	margin-top: 20px;
	display: inline-block;
	text-align: center;
}
.carousel-demo-fullscreen {
	width: 100%;
	height: 100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
	width: 100%;
	height: 100%;
}

input.tiny {
	width: 50px;
	text-align: center;
}

.carousel-demo ul[rn-carousel-transition="hexagon"] {
	margin-left: 100px;
}

.custom-indicator span {
	transition: all 0.3s ease-in;
}
.custom-indicator span.active {
	color: yellow !important;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	
	    margin-right: 15px;
}

.card .card-action {
	
	padding: 10px;
}
