<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="my-content">


	<div class="mycontainer">

		<div class="row my-row">
			<div class="col s2 offset-s10">
				<a class="btn-floating btn-large waves-effect waves-light light-blue darken-2" href='#demoModalDelete' modal dismissible="false"  ng-click="setIdReclamation(Reclamation.id)"> <i class="material-icons white-text">delete</i> </a>
			</div>
		</div>

		<div class="row">
			<div class="col s12 mytabs">
				<ul class="tabs" tabs>
					<li class="tab col s6">
						<a class="active" href="#informations">Informations</a>
					</li>
					<li class="tab col s6">
						<a  href="#historique">Historique</a>
					</li>
				</ul>
			</div>
			<div id="informations" class="col s12">
				<div class="col s6">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<div class="card-title black-text">
									Déclaré par :
								</div>
								
								<div class="valign-wrapper">
									<img src="{{ Reclamation.citoyen.user.photo || 'images/default.jpg'}}" width="50" height="50" class="circle"
									alt="image de utilisateur" />
									<span class="valign cit-nom">{{ Reclamation.citoyen.user.username | ucFirst }}</span>

								
										
								</div>
								
								<br />
						             <span style="margin-left: 50px;margin-top: -50px;" >{{ Reclamation.citoyen.user.email }}</span>
						
							</div>
						</div>
					</div>

					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<div class="card-title black-text">
									Informations :
								</div>
								<table class="highlight responsive-table">

										<thead>
										<tr>
											<th data-field="date">Déclaré le </th>
											<th data-field="municipalite">Zone M</th>
											<th data-field="categorie">Catégorie</th>
											<th data-field="categorie">Établissement</th>
											
										</tr>
									</thead>

									<tbody>
										<tr class="grey-text">
											<td>{{ Reclamation.modifications[0].date | getdate}}</td>
											<td>{{ Reclamation.delegation.nom }}</td>
											<td>{{ Reclamation.categorieproleme.nom }}</td>
											<td>{{ Reclamation.etablissement }}</td>
											
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<div class="card-title black-text">
									Déscription :
								</div>
								<p>
									{{ Reclamation.description | ucFirst }}
								</p>
								
							</div>
						</div>
					</div>
					
					

					<div class="col s12" ng-hide="emptyPhotos" >
						<h4 class="center-align">Pas des photos</h4>
					</div>

					<div class="col s12" ng-hide="!emptyPhotos">

						<div class="col s12">

							<img materialboxed class="materialboxed" ng-src="{{ Reclamation.photos[carouselIndex].chemin }}"
							height="200" width="100%" />

						</div>

						<div class="col s12" style="margin-top:10px">

							<div class="col s6">

								<a href="javascript:void(0);" class="btn btn-icon waves-effect white" ng-click="previous()"> <i class="material-icons black-text">keyboard_arrow_left</i> </a>

								<a href="javascript:void(0);" class="btn btn-icon waves-effect white" ng-click="next()"> <i class="material-icons black-text">keyboard_arrow_right</i> </a>

							</div>

							<div class="col s6">

								<div class="left">
									{{ carouselIndex+1 }} / {{ Reclamation.photos.length }}
								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="col s6">
					<ng-map class="map" center="[{{ Reclamation.latitude }},{{Reclamation.longitude}}]" zoom="16" styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]' >

						<marker position="[{{ Reclamation.latitude }},{{Reclamation.longitude}}]" title="Réclamation se trouve ici" ></marker>

					</ng-map>

				</div>

				<div class="col s12">
					<div class="input-field col s12">
						<form name="commentForm" method="post" ng-submit="sendComment(commentForm.$valid)" novalidate>
							<div class="input-field  col s12">
								<input id="message" name="message" type="text" ng-model="message" required>
								<label for="message" >Saisir un commetaire</label>
							</div>
							<div class="col s12 my-error"  ng-messages="commentForm.message.$error"
							ng-if="commentForm.message.$dirty || commentForm.$submitted">
								<div ng-messages-include="error-messages"></div>
							</div>
						</form>
					</div>
				</div>

				<div class="col s12">
					<div class="card-panel grey lighten-5 z-depth-1" ng-repeat="comment in comments">
						<div class="row valign-wrapper">
							<div class="col s1">
								<img src="{{ comment.user.photo || 'images/default.jpg'}}" width="50" height="50" class="circle"
								alt="image de utilisateur">
							</div>

							<div class="col s11" style="padding-top: 10px;">
								<div class="row" style="margin-bottom:0px">

									<div class="col s6 left">
										<b>{{ comment.user.username }}</b>
									</div>

									<div class="col s6 right-align">
										{{ comment.date | timeago }}
									</div>

									<div class="col s12" style="margin-top:-5px;">
										<p class="grey-text">

											{{ comment.message }}

										</p>

									</div>

								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
			<div id="historique" class="col s12">
				<div class="row">

					<div class="col s12">

						<div class="card">
							<div class="card-content">

								<table class="highlight responsive-table">

									<thead>
										<tr>
											<th data-field="date">Modifié le </th>
											<th data-field="etat">État</th>
											<th data-field="message">Message</th>

										</tr>
									</thead>

									<tbody>
										<tr class="grey-text" ng-repeat="modification in Reclamation.modifications">
											<td>{{ modification.date | getdateTime}}</td>
											<td>{{ modification.etat.nom }}</td>
											<td>{{ modification.message }}</td>

										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>

	<!-- start Modal  -->

	<div id="demoModalDelete" class="modal">
		<div class="modal-content">
			<h5>Confirmation</h5>
			<p>
				Vous voulez supprimer cette Réclamation ?
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="deleteClaim(IdReclamation)" href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>

	<!-- end Modal -->

</div>
<!-- end content -->

