<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">

	<div class="container">

		<div class="row center" ng-hide="emptyArray">
			<div class="col s12">
				<h3>Pas des données </h3>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="col s4" ng-repeat="DeleteReclamation in DeleteReclamations">
					<div class="card hoverable">
						<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" ng-src="{{ DeleteReclamation.photos[0].chemin || 'images/default.jpg' }}" width="300" height="250"alt="image de réclamation">
						</div>
						<div class="card-content">
							<p class="truncate" >
								{{ DeleteReclamation.description | ucFirst}}
							</p>
						</div>
						<div class="card-action grey-text">
							<span>{{ DeleteReclamation.modifications[0].date | getdateTime }}</span>
							<a class="icone right" href="/editSuppression/{{DeleteReclamation.id}}"> <i class="material-icons black-text">mode_edit</i> </a>
							<a class="icone right" href='#demoModal' modal  ng-click="setIdReclamation(DeleteReclamation.id)"> <i class="material-icons black-text">delete</i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- start pagination -->
		
		   <div class="center my-pagination">
                <pagination
				    page="1"
				    page-size="12"
				    total="nbre"
				    show-prev-next="true"
				    dots="...."
				    hide-if-empty="true"
				    adjacent="5"
				    scroll-top="true"
				    pagination-action="changePage(page)" />

	         </div>

		<!-- end pagination -->

	</div>

	<!-- start Modal  -->

	<div id="demoModal" class="modal">
		<div class="modal-content">
			<h5>Confirmation</h5>
			<p>
				Vous voulez supprimer cette Réclamation ?
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="remove(IdReclamation)" href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>

	<!-- end Modal -->

</div>
<!-- end content -->

