<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">
	<div class="container">

		<div class="row">

			<div class="col s10">

				<form name="myForm" ng-submit="contact(myForm.$valid)"  method="post" novalidate>

					<div class="input-field  col s12">
						<input id="sujet" name="sujet" type="text" ng-model="sujet" required>
						<label for="sujet" >Saisir votre sujet</label>
					</div>
					<div class="col s12 my-error"  ng-messages="myForm.sujet.$error" 
					         ng-if="myForm.sujet.$dirty || myForm.$submitted">	
				            <div ng-messages-include="error-messages"></div>
					</div>
					
					
					<div class="input-field col s12">
						<span class="left">Message :</span>
					</div>

					<div class="input-field col s12">
						<textarea name="message" ui-tinymce="tinymceOptions" ng-model="message"  class="materialize-textarea" rows="40" required></textarea>
					</div>
					
					<div class="col s12 my-error"  ng-messages="myForm.message.$error" 
					      ng-if="myForm.message.$dirty || myForm.$submitted ">	
				          <div ng-messages-include="error-messages"></div>
					</div>
					

					<div class="input-field col s12 left">
						<button class="waves-effect light-blue darken-3 btn" type="submit">Envoyer</button>
					</div>

				</form>
			</div>

		</div>

	</div>
</div>

