<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">
	<div class="container">

		<div class="row  valign-wrapper" style="height: 400px;" >
			<div class="col s12 center">

				<h1 class="error404" >404 </h1>
				<h2 class="error404" >Pas des données </h2>
			</div>
		</div>
	</div>
</div>
