<form name="myForm" ng-submit="updateProfile(myForm.$valid)"  method="post" novalidate>

	<div class="file-field input-field   col s12 m11 offset-m1 ">
		<img ng-src="{{ user.photo || 'images/default.jpg' }}" width="100" height="100" alt="Modifier votre photo"/>
		<input type="file" onchange="angular.element(this).scope().updateImage(this)" >
	</div>
	
	<div class=" col s12 m11 offset-m1 gouAndEtab">
		
		Établissement : {{ establishement }}
		
	</div>

	<div class="input-field  col s12 m11 offset-m1">
		<input id="nom" name="nom" type="text" ng-model="person.nom" required>
		<label for="nom" >Nom</label>
	</div>

	<div class="col s12 m11 offset-m1 my-error"  ng-messages="myForm.nom.$error" ng-if="myForm.nom.$dirty || myForm.$submitted">
		<div ng-messages-include="error-messages"></div>
	</div>

	<div class="input-field col s12 m11 offset-m1">
		<input id="prenom" name="prenom" type="text" ng-model="person.prenom" required>
		<label for="prenom">Prénom</label>
	</div>

	<div class="col s12 m11 offset-m1 my-error"  ng-messages="myForm.prenom.$error" ng-if="myForm.prenom.$dirty || myForm.$submitted">
		<div ng-messages-include="error-messages"></div>
	</div>

	<div class="input-field  col s12 m11 offset-m1">
		<input id="nomUser" name="username" type="text" ng-model="person.username" required>
		<label for="nomUser" >Nom utilisateur </label>
	</div>

	<div class="col s12 m11 offset-m1 my-error"  ng-messages="myForm.username.$error" ng-if="myForm.username.$dirty || myForm.$submitted">
		<div ng-messages-include="error-messages"></div>
	</div>

	<div class="input-field  col s12 m11 offset-m1">
		<input id="email" name="email" type="email" ng-model="person.email" required>
		<label for="email" >Email </label>
	</div>

	<div class="col s12 m11 offset-m1 my-error"  ng-messages="myForm.email.$error" ng-if="myForm.email.$dirty || myForm.$submitted">
		<div ng-messages-include="error-messages"></div>
	</div>

    <div class="input-field  col s12 m11 offset-m1">
		<input id="password" type="password" ng-model="person.password" name="password">
		<label for="password" >Mot de passe </label>
	</div>
	
	<div class="input-field  col s12 m11 offset-m1">
		<input id="confirmPassword" type="password" ng-model="person.confirmPassword" password-verify="person.password" name="passwordConfirmation">
		<label for="confirmPassword" >Confirmer le mot de passe </label>
	</div>
	
	<div class="col s12 m11 offset-m1 my-error" ng-show="myForm.$submitted">
	  <span  ng-show="myForm.passwordConfirmation.$error.passwordVerify">Mot de passe incorrecte </span>
	</div>
	

	<div class="input-field col s12 m11 offset-m1">
		<button class="waves-effect light-blue darken-3 btn" type="submit">
			Modifier
		</button>
	</div>

</form>