<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">

	<div class="container">

		<div class="row center" ng-hide="emptyArray">
			<div class="col s12">
				<h3>Pas des données </h3>
			</div>
		</div>

		<div class="row">
			<div class="col s12" ng-repeat="semlblance in semlblances" >
				<div class="col s4">

					<div class="card hoverable">

						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" ng-src="{{ semlblance.probleme1.photos[0].chemin || 'images/default.jpg'  }}" width="300" height="250"

							alt="prémier réclamation">
						</div>

						<div class="card-content">
							<p class="truncate" >
								{{ semlblance.probleme1.description | ucFirst }}
							</p>
						</div>

						<div class="card-action grey-text">
							<span>{{ semlblance.probleme1.modifications[0].date | getdateTime }}</span>
							<a class="icone right" href="/semblancesEdit/{{ semlblance.probleme1.id }}" ng-click="loadData(reclamation.id)" > <i class="material-icons black-text">mode_edit</i> </a>
							<a class="icone right" href='#demoModal' modal dismissible="false"  ng-click="setIdReclamation(semlblance.probleme1.id)"> <i class="material-icons black-text">delete</i> </a>

						</div>

					</div>
				</div>

				<div class="col s4" style="padding:20px">

					<div class="card">

						<div class="card-content">

							<div class="center-align">
								<i class="medium material-icons black-text">swap_horiz</i>

							</div>

							<br>

							<b>Ajouté le :</b><span class="my-semblable"> {{ semlblance.date | getdateTime}} </span>

							<div class="valign-wrapper">

								<b class="valign">Ajouté par :</b>
								<img class="circle my-semblable valign" ng-src="{{ semlblance.user.photo || 'images/default.jpg' }}" width="50" height="50"

								alt="image de l'agent">

								<span class="valign my-semblable-text">{{ semlblance.user.username }}</span>

							</div>

							<b>Message :</b>
							<br>
							<br>
							{{ semlblance.message | ucFirst }}

						</div>

					</div>

				</div>

				<div class="col s4">

					<div class="card hoverable">

						<div class="card-image waves-effect waves-block waves-light">
                          
                          <img class="activator" ng-src="{{ semlblance.probleme2.photos[0].chemin || 'images/default.jpg' }}" width="300" height="250" alt="deuxième réclamation">

						</div>

						<div class="card-content">
							<p class="truncate">
								{{ semlblance.probleme2.description | ucFirst}}
							</p>
						</div>

						<div class="card-action grey-text">
							<span>{{ semlblance.probleme2.modifications[0].date | getdateTime }}</span>
							<a class="icone right" href="/semblancesEdit/{{ semlblance.probleme2.id }}" ng-click="loadData(reclamation.id)" > <i class="material-icons black-text">mode_edit</i> </a>
							<a class="icone right" href='#demoModal' modal dismissible="false" ng-click="setIdReclamation(semlblance.probleme2.id)"> <i class="material-icons black-text">delete</i> </a>

						</div>

					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- start Modal delete  -->

	<div id="demoModal" class="modal">
		<div class="modal-content">
			<h5>Confirmation</h5>
			<p>
				Voulez-vous supprimer cette réclamation ?
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="remove(IdReclamation)" href="javascript:void(0);" class="modal-action  waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>

	<!-- end Madal delete -->

</div>
<!-- end content -->

