<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">

	<div class="container">

		<div class="row">

			<div class="col s8">

				
				<form name="myForm"  method="post" novalidate>

					<div class="file-field input-field  col s3 offset-s1">
						<img ng-src="{{ Agent.user.photo || 'images/default.jpg'}}" width="100" height="100" alt="Modifier l'image" />
						<input type="file" onchange="angular.element(this).scope().updateImage(this)" 

						 placeholder="No file selected." >
					</div>
					
						
					<div class="input-field  col s11 offset-s1">
						<input id="nom" name="nom" type="text" ng-model="Agent.user.nom"  required>
						<label for="nom" >Nom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.nom.$error"  ng-if="myForm.nom.$dirty || myForm.$submitted">	
					   <div ng-messages-include="error-messages"></div>
				   </div>



					<div class="input-field col s11 offset-s1">
						<input id="prenom" name="prenom" type="text" ng-model="Agent.user.prenom"  required>
						<label for="prenom">Prénom</label>
					</div>

					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.prenom.$error"  ng-if="myForm.prenom.$dirty || myForm.$submitted">	
					   <div ng-messages-include="error-messages"></div>
				   </div>



					<div class="input-field  col s11 offset-s1">
						<input id="nomUser" name="username" type="text" ng-model="Agent.user.username" required>
						<label for="nomUser" >Nom utilisateur </label>
					</div>

                    <div class="col s11 offset-s1 my-error"  ng-messages="myForm.username.$error"  ng-if="myForm.username.$dirty || myForm.$submitted">	
					   <div ng-messages-include="error-messages"></div>
				   </div>


					<div class="input-field  col s11 offset-s1">
						<input id="email" type="email" name="email" ng-model="Agent.user.email" required>
						<label for="email" >Email </label>
					</div>


					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.email.$error"  ng-if="myForm.email.$dirty || myForm.$submitted">	
					   <div ng-messages-include="error-messages"></div>
				   </div>


				 <!--   <div class="input-field  col s11 offset-s1">		
						<select  ng-options="etablissement.id as etablissement.nom  for etablissement in Agent.etabs"  ng-selected="{{ etablissement.id == Agent.idEtablissement}}"  ng-model="Agent.idEtablissement" material-select watch name="establishement" required>
							<option value="" disabled selected>Choisir une établissement :</option>
						</select>

					</div>
				-->

					<div class="input-field  col  s11 offset-s1">
						<select ng-model="Agent.idEtablissement" material-select watch  name="establishement" required>
							<option value="" disabled selected>Choisir une établissement : </option>
							<option ng-repeat="etablissement in Agent.etabs" value="{{etablissement.id}}">{{etablissement.nom}}</option>
						</select>
					</div>


					<div class="col s11 offset-s1 my-error"  ng-messages="myForm.establishement.$error"  ng-if="myForm.establishement.$dirty || myForm.$submitted">	
					   <div ng-messages-include="error-messages"></div>
				   </div>


					<div class="input-field col s11 offset-s1">
						<button class="waves-effect light-blue darken-3 btn" ng-click="update(myForm.$valid)">Modifier</button>
					</div>

				</form>
			</div>

		</div>

	</div>
</div>

