<!-- start Navbar -->
<nav class="top-nav light-blue darken-3">
    <div class="container">
        <div class="nav-wrapper">


            <a href="#" class="button-collapse hide-on-large-only white-text" data-activates="nav-mobile"
               data-sidenav="left" data-closeonclick="false">
                <i class="mdi-navigation-menu"> </i>
            </a>


            <span class="page-title" ng-bind="title">Navbar</span>
        </div>

    </div>
</nav>
<!-- end Navbar -->


<!-- start sideNav -->
<ul id="nav-mobile" class="side-nav fixed">


    <li class="logo">

        <a id="logo-container" href="#" class="brand-logo"> <span>Baladi</span>TY </a>

    </li>

    <!-- start for all users -->

    <li class="compte center">

        <a href="/profile">

            <img ng-src="{{ user.photo || 'images/default.jpg' }}" class="circle" width="40" height="40"/>

            <b> {{ user.username }} </b>

        </a>

    </li>


    <li class="bold" ng-class="{ active: isActive('claims')}">
        <a href="/claimsIndex" class="waves-effect">Réclamations</a>
    </li>


    <!-- end for all users -->

    <!--
        <li class="bold" ng-class="{ active: isActive('municipalites')}" ng-hide="hideItem">
            <a href="/municipalitesIndex" class="waves-effect">Zones municipales</a>
        </li>
    -->

    <!--
        <li class="bold" ng-class="{ active: isActive('etablissements')}" ng-hide="hideItem">
            <a href="/etablissementsIndex" class="waves-effect">Établissements</a>
        </li>

        <li class="bold" ng-class="{ active: isActive('agents')}" ng-hide="hideItem">
            <a href="/agentsIndex" class="waves-effect">Agents</a>
        </li>
    -->

    <!--
    <li class="bold" ng-class="{ active: isActive('administrateurs')}" ng-show="hideItemAdmin">
        <a href="/administrateursIndex" class="waves-effect">Administrateurs</a>
    </li>
    -->

    <!--
        <li class="bold" ng-class="{ active: isActive('Suppression')}" ng-hide="hideItem">
            <a href="/SuppressionClaimsIndex" class="waves-effect">Demandes suppression</a>
        </li>
    -->

    <li class="bold" ng-class="{ active: isActive('abuse')}" ng-hide="hideItem">
        <a href="/abusesIndex" class="waves-effect">Abuses</a>
    </li>

    <li class="bold" ng-class="{ active: isActive('semblances')}" ng-hide="hideItem">
        <a href="/semblancesIndex" class="waves-effect">Semblances</a>
    </li>

    <!-- start for all users -->
    <li class="bold" ng-class="{ active: isActive('contact')}" ng-hide="hideItemContact">
        <a href="/contact" class="waves-effect">Contact</a>
    </li>

    <li class="divider myLogout"></li>

    <li class="bold">

        <a href="javascript:void(0);" ng-click="logout()"> Déconnexion</a>

    </li>

    <!-- end for all users -->


</ul>

<!-- end sideNav -->

