<link href="css/login.css" rel="stylesheet" media="screen,projection">

<div class="row login">

    <h4 class="logo"><span>Baladi</span>TY </h4>

    <form name="myForm" ng-submit="login(myForm.$valid)" method="post" novalidate>

        <div class="input-field  col s10 offset-s1">
            <input id="email" name="email" type="email" ng-model="email" required>
            <label for="email">Email</label>
        </div>


        <div class="col s10 offset-s1 my-error" ng-messages="myForm.email.$error"
             ng-if="myForm.email.$dirty || myForm.$submitted">
            <div ng-messages-include="error-messages"></div>
        </div>


        <div class="input-field col s10 offset-s1">
            <input id="password" name="password" type="password" ng-model="password" required>
            <label for="password">Mot de passe </label>
        </div>


        <div class="col s10 offset-s1 my-error" ng-messages="myForm.password.$error"
             ng-if="myForm.password.$dirty || myForm.$submitted">
            <div ng-messages-include="error-messages"></div>
        </div>


        <div class="input-field col s11 offset-s1">
            <button class="btn waves-effect waves-light btn-login" type="submit" name="action">Connexion</button>

        </div>



    </form>

</div>

<div class="input-field center-align">
    <a target="_blank" href="../../../downloads/baladity.apk" class="btn waves-effect waves-light">Télécharger l'application mobile</a>

</div>



