<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">

	<div class="container">

		<div class="row">

			<div class="col s12 m10 l8">
                
               <div ng-include="profile"></div>
                    
			</div>

		</div>
	</div>
</div>
