<link href="css/login.css" rel="stylesheet" media="screen,projection">
		
<div class="row restPassword">

	<form  name="myForm" ng-submit="resetPassword(myForm.$valid)"  method="post" novalidate>
        
        <div class="input-field  col s10 offset-s1">
			<h5 class="left">Saisir votre adresse email</h5>
		</div>

		<div class="input-field  col s10 offset-s1">
			<input id="email" name="email" type="email"  ng-model="email"  required >
			<label for="email">Email</label>
		</div>
	
	     	
		<div class="col s10 offset-s1 my-error"  ng-messages="myForm.email.$error" 
		    ng-if="myForm.email.$dirty || myForm.$submitted">	
            <div ng-messages-include="error-messages"></div>
		</div>
	

		<div class="input-field col s11 offset-s1">
			<button class="btn waves-effect waves-light btn-login" type="submit" name="action">Confirmer</button>

		</div>
		

	</form>
</div>
