<div ng-include="global.sideNavUrl"></div>

<!-- start content -->

<div class="my-content">

	<div class="container">
		<div class="row my-row">
			<div class="col s2 offset-s9">
				<a class="btn-floating btn-large waves-effect waves-light light-blue darken-2" href="#demoModalSave" modal dismissible="false" > <i class="material-icons">add</i> </a>
			</div>
		</div>
		
		<div class="row center" ng-hide="emptyArray">
			<div class="col s12">
				<h3>Pas des données </h3>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<table class="highlight responsive-table">
					<thead ng-hide="!emptyArray">
						<tr>
							<th data-field="nom">Nom</th>
							<th data-field="gouvernorat">Gouvernorat</th>
							<th data-field="edit">Modifier</th>
							<th data-field="delete">Supprimer</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="municipalite in municipalites">
							<td>{{ municipalite.nom }}</td>
							<td>{{ municipalite.gouvernorat.nom }}</td>
							<td><a ng-click="setIdMunicipaliteUpdate(municipalite.id)" href='#demoModalUpdate' modal dismissible="false" class="btn  btn-icon waves-effect white"> <i class="material-icons black-text">mode_edit</i> </a></td>
							<td><a ng-click="setIdMunicipalite(municipalite.id)" href='#demoModal' modal  dismissible="false" class="btn btn-icon waves-effect white "> <i class="material-icons black-text">delete</i> </a></td>
						</tr>
					</tbody>

				</table>
			</div>

		</div>

		<back-to-top></back-to-top>

	</div>

	<!-- start Modal delete -->

	<div id="demoModal" class="modal my-modal">
		<div class="modal-content">
			<h5>Confirmation</h5>
			<p>
				Vous voulez supprimer cette zone municipale ?
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="remove(IdMunicipalite)" href="javascript:void(0);" class="modal-action  waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>

	<!-- end Modal -->

	<!-- start Modal Update  -->

	<div id="demoModalUpdate" class="modal">
		<div class="modal-content">
			<h5>Modification</h5>
			<div class="row">
				<div class="col s12">
					<form name="form"  method="post" novalidate>

						<div class="input-field  col s12">
							<input id="nom" name="nom" type="text" ng-model="municipalite.nom" required >
							<label for="nom" >Nom</label>
						</div>

						<div class="col s12 my-error"  ng-messages="form.nom.$error"  ng-if="form.nom.$dirty">
							<div ng-messages-include="error-messages"></div>
						</div>

                     
                        <div ng-hide="isAdmin">
                        	
							<div class="input-field  col s12">
								<select ng-model="municipalite.idGouvernorat" material-select watch name="gouvernorat" required>
									<option value="" disabled selected>Choisir une gouvernorat :</option>
									<option  ng-repeat="gouvernorat in gouvernorats" value="{{gouvernorat.id}}">{{gouvernorat.nom}}</option>
								</select>
							</div>
	
							<div class="col s12 my-error"  ng-messages="form.gouvernorat.$error"  ng-if="form.gouvernorat.$dirty">
								<div ng-messages-include="error-messages"></div>
							</div>
						
						</div>

						<div class="col s12 right-align">

							<button ng-click="hideModalUpdate()" class="btn waves-effect waves-light white grey-text" type="reset" name="action">
								Annuler
							</button>

							<button ng-click="update(form.$valid)"  class="btn modal-action waves-effect waves-effect waves-light" type="submit" name="action">
								Confirmer
							</button>

						</div>

					</form>
				</div>
			</div>

		</div>

	</div>

	<!-- end Modal -->

	<!-- start Modal Save  -->

	<div id="demoModalSave" class="modal">
		<div class="modal-content">
			<h5>Ajouter une zone municipale</h5>
			<div class="row">
				<div class="col s12">
					<form name="myForm"  method="post" novalidate>

						<div class="input-field  col s12 ">
							<input id="nom" name="nom" type="text" ng-model="addNom" required>
							<label for="nom" >Nom</label>
						</div>

						<div class="col s12 my-error"  ng-messages="myForm.nom.$error"  ng-if="myForm.nom.$dirty || myForm.$submitted">
							<div ng-messages-include="error-messages"></div>
						</div>

                        <div ng-hide="isAdmin">
							<div class="input-field  col s12">
								<select ng-model="addIdMuni" material-select watch  name="gouvernorat" required>
									<option value="" disabled selected>Choisir une gouvernorat :</option>
									<option ng-repeat="gouvernorat in gouvernorats" value="{{gouvernorat.id}}">{{gouvernorat.nom}}</option>
								</select>
							</div>
	
							<div class="col s12 my-error"  ng-messages="myForm.gouvernorat.$error"  ng-if="myForm.gouvernorat.$dirty || myForm.$submitted">
								<div ng-messages-include="error-messages"></div>
							</div>
						</div> 

						<div class="col s12 right-align">
							<button ng-click="hideModalInsert()" class="btn waves-effect waves-light white grey-text" type="reset" name="action">
								Annuler
							</button>

							<button ng-click="ajouter(myForm.$valid)"  class="btn modal-action waves-effect waves-effect waves-light" type="submit" name="action">
								Confirmer
							</button>

						</div>

					</form>
				</div>
			</div>

		</div>

	</div>

	<!-- end Modal -->

</div>
<!-- end content -->

