<div ng-include="global.sideNavUrl"></div>

<style>
    .div-img {
        width: 100%;
        height: 300px;
    }

    .div-img .material-placeholder{
        width: inherit;
        height: inherit;
    }

    .div-img img {
        width: inherit;
        height: inherit;
    }
</style>

<!-- start content -->
<div class="my-content">

    <div class="mycontainer">

        <div class="row my-row">
            <div class="col s2 offset-s10">
                <a class="btn-floating btn-large waves-effect waves-light light-blue darken-2" href='#demoModal' modal
                   dismissible="false" ng-click="setIdReclamation(Reclamation.id)"> <i
                        class="material-icons white-text">delete</i> </a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 mytabs">
                <ul class="tabs" tabs>
                    <li class="tab col s12 m6">
                        <a class="active" href="#informations" id="info">Informations</a>
                    </li>
                    <li class="tab col s12 m6">
                        <a href="#historique" id="history">Historique</a>
                    </li>
                </ul>
            </div>
            <div id="informations" class="col s12">
                <div class="col s6">
                    <div class="col s12">

                        <div class="card">
                            <div class="card-content">
                                <div class="card-title black-text">
                                    Déclaré par :
                                </div>

                                <div class="valign-wrapper">
                                    <img src="{{ Reclamation.citoyen.user.photo || 'images/default.jpg'}}" width="50"
                                         height="50" class="circle"
                                         alt="image de utilisateur"/>
                                    <span class="valign cit-nom">{{ Reclamation.citoyen.user.username | ucFirst }}</span>


                                </div>

                                <br/>
                                <span style="margin-left: 50px;margin-top: -50px;">{{ Reclamation.citoyen.user.email }}</span>

                            </div>
                        </div>

                    </div>

                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-title black-text">
                                    Informations :
                                </div>
                                <table class="highlight responsive-table">

                                    <thead>
                                    <tr>
                                        <th data-field="date">Déclaré le</th>
                                        <th data-field="categorie">Catégorie</th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr class="grey-text">
                                        <td>{{ Reclamation.modifications[0].date | getdate}}</td>
                                        <td>{{ Reclamation.categorieproleme.nom }}</td>

                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <!--
                              <div class="card-action right-align">
                                <a class="waves-effect waves-light btn" href="#demoReaffecter" modal  dismissible="false" >Réaffecter</a>
                              </div>
                            -->
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-title black-text">
                                    Déscription :
                                </div>
                                <p>
                                    {{ Reclamation.description | ucFirst }}
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col s12" ng-hide="emptyPhotos">
                        <h4 class="center-align">Pas des photos</h4>
                    </div>

                    <div class="col s12" ng-hide="!emptyPhotos">
                        <div class="col s12 div-img">
                            <img materialboxed class="materialboxed"
                                 ng-src="{{ Reclamation.photos[carouselIndex].chemin }}"/>
                        </div>
                        <div class="col s12" style="margin-top:10px">

                            <div class="col s6">

                                <a href="javascript:void(0);" class="btn btn-icon waves-effect white"
                                   ng-click="previous()"> <i class="material-icons black-text">keyboard_arrow_left</i>
                                </a>

                                <a href="javascript:void(0);" class="btn btn-icon waves-effect white" ng-click="next()">
                                    <i class="material-icons black-text">keyboard_arrow_right</i> </a>

                            </div>

                            <div class="col s6">

                                <div class="left">
                                    {{ carouselIndex+1 }} / {{ Reclamation.photos.length }}
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col s6">
                    <ng-map class="map" center="[{{ Reclamation.latitude }},{{Reclamation.longitude}}]" zoom="16"
                            styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]'>

                        <marker position="[{{ Reclamation.latitude }},{{Reclamation.longitude}}]"
                                title="Réclamation se trouve ici"></marker>

                    </ng-map>

                </div>

                <div class="col s12">
                    <div class="input-field col s12">
                        <form name="commentForm" method="post" ng-submit="sendComment(commentForm.$valid)" novalidate>
                            <div class="input-field  col s12">
                                <input id="message" name="message" type="text" ng-model="message" required>
                                <label for="message"> Saisir un commetaire</label>
                            </div>
                            <div class="col s12 my-error" ng-messages="commentForm.message.$error"
                                 ng-if="commentForm.message.$dirty || commentForm.$submitted">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col s12">
                    <div class="card-panel grey lighten-5 z-depth-1" ng-repeat="comment in comments">
                        <div class="row valign-wrapper">
                            <div class="col s1">
                                <img src="{{ comment.user.photo || 'images/default.jpg'}}" width="50" height="50"
                                     class="circle"
                                     alt="image de l'utilisateur">
                            </div>

                            <div class="col s11" style="padding-top: 10px;">
                                <div class="row" style="margin-bottom:0px">

                                    <div class="col s6 left">
                                        <b>{{ comment.user.username }}</b>
                                    </div>

                                    <div class="col s6 right-align">
                                        {{ comment.date | timeago }}
                                    </div>

                                    <div class="col s12" style="margin-top:-5px;">
                                        <p class="grey-text">

                                            {{ comment.message }}

                                        </p>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="historique" class="col s12">
                <div class="row">
                    <div class="col s12">

                        <form name="stateForm" ng-submit="updateEtat(stateForm.$valid)" method="post" novalidate>

                            <b>Modification de réclamation :</b>
                            <br/>

                            <div class="input-field  col s5">
                                <select ng-model="selectedEtat" material-select watch name="state" required>
                                    <option value="" disabled selected>Choisir une état :</option>
                                    <option ng-repeat="etat in etats" value="{{etat.id}}">{{etat.nom}}</option>
                                </select>

                                <span class="my-error" ng-show="stateForm.state.$error.required"
                                      ng-if="stateForm.state.$dirty || stateForm.$submitted">Champ requis</span>

                            </div>

                            <div class="input-field  col s5">
                                <input id="message" type="text" ng-model="messageEtat" name="message" required>
                                <label for="message">Message </label>

                                <span class="my-error" ng-show="stateForm.message.$error.required"
                                      ng-if="stateForm.message.$dirty || stateForm.$submitted">Champ requis</span>

                            </div>

                            <div class="input-field col s2">
                                <button class="waves-effect light-blue darken-3 btn" type="submit"
                                        style="margin-bottom:-55px">
                                    ok
                                </button>
                            </div>

                        </form>

                    </div>

                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">

                                <table class="highlight responsive-table">

                                    <thead>
                                    <tr>
                                        <th data-field="date">Modifié le</th>
                                        <th data-field="etat">État</th>
                                        <th data-field="message">Message</th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr class="grey-text" ng-repeat="modification in Reclamation.modifications">
                                        <td>{{ modification.date | getdateTime}}</td>
                                        <td>{{ modification.etat.nom }}</td>
                                        <td>{{ modification.message }}</td>

                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- start Modal  -->

    <div id="demoModal" class="modal">
        <div class="modal-content">
            <h5>{{ titleModalDelete }}</h5>
            <p>
                {{ messageDelete}}
            </p>
        </div>
        <div class="modal-footer">
            <a ng-click="demandeSupp(IdReclamation,1)" href="javascript:void(0);"
               class="modal-action modal-close waves-effect waves-green btn-flat">Confirmer</a>
            <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
        </div>
    </div>

    <!-- end Modal -->

    <!-- start Modal Réaffecter -->

    <div id="demoReaffecter" class="modal myModal">
        <div class="modal-content">
            <h5>Réaffectation</h5>
            <form name="myForm" ng-submit="reaffecte(IdReclamation,myForm.$valid)" method="post" novalidate>

                <div class="input-field  col s5">
                    <select ng-model="Reclamation.idMunicipalite" material-select watch name="muni" required>
                        <option value="" disabled selected>Choisir une zone municipale :</option>
                        <option ng-repeat="municipalite in municipalites" value="{{municipalite.id}}">
                            {{municipalite.nom}}
                        </option>
                    </select>

                    <span class="my-error" ng-show="myForm.muni.$error.required"
                          ng-if="myForm.muni.$dirty || myForm.$submitted">Champ requis</span>

                </div>

                <div class="input-field col s5">
                    <select ng-model="Reclamation.idCategorieProleme" material-select watch name="cat" required>
                        <option value="" disabled selected>Choisir une catégorie :</option>
                        <option ng-repeat="categorieProbleme in categorieProblemes" value="{{categorieProbleme.id}}">
                            {{categorieProbleme.nom}}
                        </option>
                    </select>

                    <span class="my-error" ng-show="myForm.cat.$error.required"
                          ng-if="myForm.cat.$dirty || myForm.$submitted">Champ requis</span>

                </div>

                <div class="input-field  col s5">
                    <input id="message" type="text" ng-model="messageAffectation" name="message" required>
                    <label for="message">Message </label>

                    <span class="my-error" ng-show="myForm.message.$error.required"
                          ng-if="myForm.message.$dirty || myForm.$submitted">Champ requis</span>

                </div>

                <div class="input-field  col s12 right-align">

                    <button ng-click="hideModalReaffceter()" class="btn waves-effect waves-light white grey-text"
                            type="reset">
                        Annuler
                    </button>

                    <button class="btn modal-action waves-effect waves-effect waves-light" type="submit">
                        Confirmer
                    </button>

                </div>

            </form>

        </div>
    </div>

    <!-- end Modal Réaffecter -->

</div>
<!-- end content -->

