<div ng-include="global.sideNavUrl"></div>

<!-- start content -->
<div class="content">
	

	<div class="container">

		<div class="row center" ng-hide="emptyArray">
			<div class="col s12">
				<h3>Pas des données  </h3>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m12 l12">
				<div class="col s12 m6 l4" ng-repeat="reclamation in reclamations">
					<div class="card hoverable">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" ng-src="{{ reclamation.photos[0].chemin || 'images/default.jpg' }}" width="300" height="250" 

							alt="Réclamation numéro {{$index+1}}">
							 <span class="card-title">{{ reclamation.id }}</span>
						</div>
						
						<div class="card-content">
							<p class="truncate">{{ reclamation.description | ucFirst }}</p>
						</div>
						
						 <div class="card-action grey-text right-align">
						 	
						 	<span class="left" >{{ reclamation.modifications[0].date | getdateTime }}</span>
						 	
						     <a href='#demoModalSemblable' ng-click="setIdReclamationSemblable(reclamation.id)" modal>
		                     	<i class="material-icons black-text">filter_none</i>
		                     </a>	
						 	
						 	  <a href='#demoModal' modal  ng-click="setIdReclamation(reclamation.id)">
		                    	<i class="material-icons black-text">delete</i>
		                    	</a>	 
		                    
						 	
		                    <a  href="/claimsEdit/{{ reclamation.id }}" ng-click="loadData(reclamation.id)" >
		                    	<i class="material-icons black-text">mode_edit</i>
		                    	</a>
		                  
		                                
		                </div>
						
					</div>
				</div>
			</div>
		</div>


		<!-- start pagination -->

	         <div class="center my-pagination">
                <pagination
				    page="1"
				    page-size="12"
				    total="nbre"
				    show-prev-next="true"
				    dots="...."
				    hide-if-empty="true"
				    adjacent="5"
				    scroll-top="true"
				    pagination-action="changePage(page)" />

	         </div>

        <!-- end pagination -->
        

	</div>

	<!-- start Modal  -->

	<div id="demoModal" class="modal">
		<div class="modal-content">
			<h5>{{ titleModalDelete }}</h5>
			<p>
				{{ messageDelete}}
			</p>
		</div>
		<div class="modal-footer">
			<a ng-click="demandeSupp(IdReclamation,0)" href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmer</a>
			<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>

		</div>
	</div>

	<!-- end Modal -->
	
	
	<!-- start demo Modal Semblable  -->

	<div id="demoModalSemblable" class="modal modalSemblable">
		<div class="modal-content">
			<h5 style="margin-left: 20px">Ajouter une semblance</h5>
				<form name="myForm" ng-submit="addSemblable(myForm.$valid,IdReclamation)" novalidate>
                  	
                     	<div class="input-field  col s12" >
                     		la réclamation identifié par {{ IdReclamation }} est similaire à :
                     	</div>
                     	
                     	<div class="input-field  col s12">
							<select ng-model="idRec" material-select watch >
								<option value="" disabled selected>Choisir une réclamation </option>
								<option ng-repeat="idClaim in idClaims" value="{{idClaim.id}}">Réclamation N° {{idClaim.id}}</option>
							</select>
						</div>
						
						<div class="input-field col s12 ">
							<input id="message" name="message" type="text" ng-model="messageSemblable" required>
							<label for="message">Message</label>
						</div> 
						
						<div class="input-field  col s12 right-align">
						
						<button ng-click="hideModalSemblable()" class="btn waves-effect waves-light white grey-text" type="reset">
						Annuler
					    </button>

						<button   class="btn modal-action waves-effect waves-effect waves-light" type="submit" >
							Confirmer
						</button>
			     </div>             	
			</form>
		</div>
	</div>

	<!-- end Modal Semblable -->
	
	
	
	

</div>
<!-- end content -->

